{% extends "layout.html" %}

{% block title %} Channels{% endblock %}

{% block head %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/channels.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/channels.css') }}">
	
{% endblock %}

{% block nav %} 
		<li id="changeUsername"> Change Username </li>
{% endblock %}

{% block body %}
	<div id="test"></div>
	<div id="welcome"></div>
	<div class="form">
		<form id="form">
			<h3> Create Channel </h3>
			<input type="text" id="channel">
			<input type="submit" id="submit" value="ADD">
		</form>
	</div> <br>
	<div class="channels-list">
		<h3> ALL CHANNELS </h3>
		<ul id="channels">
		</ul>
		<button id="delete_channels"> DELETE ALL CHANNELS </button>
	</div>
{% endblock %}